# Ignorar node_modules (dependencias de Node.js)
node_modules/

# Ignorar archivos de entorno (variables sensibles)
.env

# Ignorar archivos temporales y del sistema
.DS_Store
*.log
*.tmp

# Ignorar archivos de IDE (VS Code, etc.)
.vscode/
.idea/

# Ignorar archivos de depuración
debug.log
npm-debug.log*